.card-container {
  display: flex;
  justify-content: space-around;
  color: $purple;
  border-radius: 1rem;
  background: white;
  box-shadow: $box-shadow;
  padding: 1rem 1.4rem;
  width: 400px;
  margin: 0 1rem;
  margin: .8rem;
  word-break: break-all;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  @media (max-width: 750px) {
    width: 85vw;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 1rem;
  }

  a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  animation: showUp 0.5s ease-in-out forwards;

  .img-container {
    display: flex;
    align-items: center;
  }

  .card-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
    font-size: 1.2rem;
    width: 100%;
    margin: 1rem;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;

      a {
        font-size: 0.8rem;
        font-weight: 500;
      }

      h2 {
        font-size: 1.1rem;
        font-weight: bold;
      }

      p {
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0.5rem 0;
      }

      .repo-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg {
          margin: 0 .5rem;
        }
      }
    }
  }
}

.repo-card {
  height: 400px;
}
