footer {
  position: fixed;
  bottom: 0;
  color: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100vw;
  background-color: white;
  box-shadow: $box-shadow;
}

footer > * {
  margin: 10px;
}