//Color palette

$purple: #3D2992;
$light-blue: #63D6D6;
$red: #E92C01;

$box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.00);
$box-shadow-hover: 0px 0px 16px 0px rgba(0,0,0,0.070);

//fonts

$main-font:'Brown', Helvetica, sans-serif;
